<h1><%= @description %></h1>

<h1>Find your type of triangle</h1>

<form action="/output">
  <div class="form-group">
    <label for="side_one">Enter the first side of your triangle</label>
    <input id="s1" name="side_one" class="form-control" type="text">
  </div>
  <div class="form-group">
    <label for="side_two">Enter the second side of your triangle</label>
    <input id="s2" name="side_two" class="form-control" type="text">
  </div>
  <div class="form-group">
    <label for="side_three">Enter the third side of your triangle</label>
    <input id="s3" name="side_three" class="form-control" type="text">
  </div>
  <button type="submit" class="btn">Go!</button>
</form>
